<appSettings>
  <add key="mailserver" value="" />
  <add key="mailport" value="25" />
  <add key="mailsystem" value="" />
  <add key="mailuser" value="" />
  <add key="mailpassword" value="" />
  <add key="errormail" value="" />
  <add key="errormailsubject" value="Benavides Farms Error Log" />
</appSettings>