<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="BenFarms.MVC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
                                                                                                                      </configSections>
  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="Data Source=DESKTOP-6LT4PF5;Initial Catalog=BenavidesFarms;Persist Security Info=True;User ID=sa;Password=1234" providerName="System.Data.SqlClient" />-->
    <!--Dayarel's connection-->
    <!--<add name="DefaultConnection" connectionString="Data Source=localhost;Initial Catalog=BenavidesFarms;Persist Security Info=True;User ID=sa;Password=!App.123" providerName="System.Data.SqlClient" />-->
    <!--<add name="DefaultConnection" connectionString="Data Source=localhost;Initial Catalog=BenavidesFarms;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->
    <!--<add name="DefaultConnection" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=BenavidesFarms;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->
	<!--<add name="DefaultConnection" connectionString="Data Source=DESKTOP-RQHIFGC\SQLEXPRESS;Initial Catalog=BenavidesFarms;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->

    
    <add name="DefaultConnection" connectionString="Data Source=192.168.30.16; Initial Catalog=SitioBenavides; User Id=BenaWeb; Password=B3N4w38#17;" providerName="System.Data.SqlClient" />
   
   <!--
    <add name="DefaultConnection" connectionString="Data Source=cddmtyi2kmsQA; Initial Catalog=SitioBenavides; User Id=BenaWeb; Password=B3n@m3b;" providerName="System.Data.SqlClient" />
 -->
    <!--
  <add name="DefaultConnection" connectionString="Data Source=DESKTOP-G572VTJ;Initial Catalog=BenavidesFarms;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  
  -->
  </connectionStrings>
  <appSettings file="mail.config">
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" maxRequestLength="40960" requestValidationMode="2.0" />
    <pages validateRequest="false" />
    <!--<customErrors mode="On" defaultRedirect="~/Error/Index">
        <error statusCode="404" redirect="~/Error/NotFound"/>
        <error statusCode="403" redirect="~/Error/Index"/>
    </customErrors>-->
  </system.web>
  <system.webServer>
    <modules>
      <!--runAllManagedModulesForAllRequests="true"-->
      <remove name="FormsAuthentication" />
    </modules>
    <!--<httpErrors errorMode="Custom" existingResponse="Replace">
      <clear />
      <remove statusCode="404" />
      <remove statusCode="500" />
      <remove statusCode="423" />
      <error statusCode="423" responseMode="ExecuteURL" path="/Error/Database" />
      <error statusCode="404" responseMode="ExecuteURL" path="/Error/NotFound" />
      <error statusCode="500" responseMode="ExecuteURL" path="/Error/Index" />
    </httpErrors>-->
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="41943040" />
      </requestFiltering>
    </security>
    <!--<rewrite>
      <rules>
        <rule name="Remove Trailing Dots after some text" stopProcessing="true">
          <match url="^(.*[^.])\.+$" />
          <action type="Rewrite" url="{R:1}" />
        </rule>
        <rule name="Remove All Dots" stopProcessing="true">
          <match url="^\.+$" />
          <action type="Rewrite" url="/" />
        </rule>
      </rules>
    </rewrite>-->
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <applicationSettings>
    <BenFarms.MVC.Properties.Settings>
      <setting name="BenFarms_MVC_BeneficioInteligenteService_PortalBI"
        serializeAs="String">
        <value>https://beneficiointeligente.com.mx/WSBI/PortalBI.asmx</value>
      </setting>
    </BenFarms.MVC.Properties.Settings>
  </applicationSettings>
</configuration>