@{
    ViewBag.Title = "Cien Años";
}
<link href="~/Content/css/oneHundredYears.css" rel="stylesheet" />
<section>
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="~/assets/pages/img/banner.jpg" class="img-responsive center-block" alt="banner">
            </div>
            <div class="item">
                <img src="~/assets/pages/img/banner.jpg" class="img-responsive center-block" alt="banner">
            </div>
        </div>
    </div>
</section>

<section id="catalogo">
    <div class="container">
        <div class="row">
            @*<div class="col-xs-12 titular">
                Catálogo de ofertas
            </div>*@
            <div id="flipbookContainer" class="col-xs-12">
            </div>
            <!--
                <div class="_df_book" source="Catalogo.pdf">

                </div>
                <!-- -->
        </div>
    </div>
</section>

<section id="middle-text">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 titular text-center">
                100 años siendo especialistas en ti
            </div>
        </div>
    </div>
</section>

<section id="video">
    <div class="container">
        <div class="row">
            <div>
                <img src="~/assets/pages/img/video.jpg" class="img-responsive center-block" alt="banner">
            </div>
        </div>
    </div>
</section>

<section id="historia-new">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="carousel slide"  data-ride="carousel" data-type="multi" data-interval="3000" id="myCarousel">
                    <div class="carousel-inner">
                        @*<div class="item active">
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <h4>1917</h4>
                                <div style="height: 150px; vertical-align: middle">
                                    <img src="~/assets/pages/img/losInicios.jpg" class="img-responsive ">
                                </div>
                                <h5>Los inicios</h5>
                                <p>Don Felipe de Jesús Benavides Guerra adquirió Botica del Carmen, dedicada a la elaboración de medicamentos.</p>
                            </div>

                        </div>*@
                        <div class="item active">
                            <div class="row">
                                <div class="col-sm-3">
                                    <h4>1917</h4>
                                    <div style="height: 150px; vertical-align: middle">
                                        <img src="~/assets/pages/img/losInicios.jpg" class="img-responsive ">
                                    </div>
                                    <h5>Los inicios</h5>
                                    <p>Don Felipe de Jesús Benavides Guerra adquirió Botica del Carmen, dedicada a la elaboración de medicamentos.</p>
                                </div>
                                <div class="col-sm-3">
                                    <h4>1943</h4>
                                    <div style="height: 150px; vertical-align: middle">
                                        <img src="~/assets/pages/img/crecimiento.jpg" class="img-responsive">
                                    </div>
                                    <h5>Crecimiento</h5>
                                    <p>Se instalaron las primeras dos sucursales de Farmacias Benavides en Monterrey, Nuevo León.</p>
                                </div>
                                <div class="col-sm-3">
                                    <h4>1950</h4>
                                    <div style="height: 150px; vertical-align: middle">
                                        <img src="~/assets/pages/img/mercadoFronterizo.jpg" class="img-responsive">
                                    </div>
                                    <h5>Mercado Fronterizo </h5>
                                    <p>Durante esta década inició la expansión en el mercado fronterizo.</p>
                                </div>
                                <div class="col-sm-3">
                                    <h4>1960</h4>
                                    <div style="height: 150px; vertical-align: middle">
                                        <img src="~/assets/pages/img/consolidación.jpg" class="img-responsive">
                                    </div>                                <h5>Consolidación  </h5>
                                    <p>En la década de los 60's. con el firme propósito de consolidarse en Monterrey, se adquirieron las Boticas Moebius y las Farmacias San Rafael. También en esta época inició el fortalecimiento del área del Pacífico, con la adquisición de 20 sucursales de la cadena Farmacias Botíca Moderna, S.A. </p>
                                </div>
                            </div>
                            <!--/row-->
                        </div>
                        
                        <div class="item">
                            <div class="row">
                                <div class="col-sm-3">
                                    <h4>1988</h4>
                                    <div style="height: 150px; vertical-align: middle">
                                        <img src="~/assets/pages/img/adquisiciones.jpg" class="img-responsive ">
                                    </div>
                                    <h5>Adquisiciones</h5>
                                    <p>Década de los 60, con el firme propósito de consolidarse en Monterrey, se adquirieron las Bóticas Moebius y las Farmacias San Rafael. También en esta época inició el fortalecimiento del área del Pacífico, con la adquisición de 20 sucursales de la cadena Farmacias Bótica Moderna, S.A.</p>
                                </div>
                                <div class="col-sm-3">
                                    <h4>1989</h4>
                                    <div style="height: 150px; vertical-align: middle">

                                        <img src="~/assets/pages/img/fortalecimiento.jpg" class="img-responsive ">
                                    </div>
                                    <h5>Fortalecimiento</h5>
                                    <p>Las Farmacias adquiridas en este año fueron Tikos y Palmas, ubicadas en Torreón y Durango, así como Farmacias Levy en Guadalajara.</p>
                                </div>
                                <div class="col-sm-3">
                                    <h4>1991</h4>
                                    <div style="height: 150px; vertical-align: middle">

                                        <img src="~/assets/pages/img/expansión.jpg" class="img-responsive">
                                    </div>
                                    <h5>Expansión </h5>
                                    <p>Durante este periodo la empresa incorporó más de 200 sucursales y 20 nuevas ciudades en su cobertura.</p>
                                </div>
                                <div class="col-sm-3">
                                    <h4>1994</h4>
                                    <div style="height: 150px; vertical-align: middle">
                                        <img src="~/assets/pages/img/posicionamiento.jpg" class="img-responsive">
                                    </div>
                                    <h5>Posicionamiento  </h5>
                                    <p>Farmacias Benavides tenía en operación 447 sucursales. </p>
                                </div>
                            </div>
                            <!--/row-->
                        </div>
                        <!--/item-->
                        
                        
                        <div class="item">
                            <div class="row">
                                <div class="col-sm-3">
                                    <h4>1996</h4>
                                    <div style="height: 150px; vertical-align: middle">
                                        <img src="~/assets/pages/img/liderazgo.jpg" class="img-responsive ">
                                    </div>
                                    <h5>Liderazgo </h5>
                                    <p>Durante este periodo finalizó con 552 puntos de venta.</p>
                                </div>
                                <div class="col-sm-3">
                                    <h4>1997</h4>
                                    <div style="height: 150px; vertical-align: middle">
                                        <img src="~/assets/pages/img/estrategia.jpg" class="img-responsive ">
                                    </div>
                                    <h5>Estrategia </h5>
                                    <p>Se adquirió 50% del capital de Droguería y Farmacias el Fénix S.A. de C.V. En ese año se contaba con 588 sucursales en 113 ciudades de la República Mexicana.</p>
                                </div>
                                <div class="col-sm-3">
                                    <h4>2002</h4>
                                    <div style="height: 150px; vertical-align: middle">
                                        <img src="~/assets/pages/img/fusión.jpg" class="img-responsive">
                                    </div>
                                    <h5>Fusión </h5>
                                    <p>Farmacias Benavides se revitalizó convirtiéndose en una empresa de clase mundial al formar parte de Farmacias Ahumada (FASA), empresa formada hace 34 años en Santiago de Chile, y una de las 10 primeras empresas más importante de Latinoamérica</p>
                                </div>
                                <div class="col-sm-3">
                                    <h4>2005</h4>
                                    <div style="height: 150px; vertical-align: middle">
                                        <img src="~/assets/pages/img/ordenamiento.jpg" class="img-responsive">
                                    </div>
                                    <h5>Ordenamiento  </h5>
                                    <p>Para el 2005 todas nuestras farmacias se encontraban bajo la nueva imagen de Farmacias Benavides, tras la fusión con FASA. </p>
                                </div>
                            </div>
                            <!--/row-->
                        </div>
                        <!--/item-->

                        <div class="item">
                            <div class="row">
                                <div class="col-sm-3">
                                    <h4>2007</h4>
                                    <div style="height: 150px; vertical-align: middle">
                                        <img src="~/assets/pages/img/2007Crecimiento.JPG" class="img-responsive">
                                    </div>
                                    <h5>Crecimiento </h5>
                                    <p>Farmacias Benavides tenía en operación 640 sucursales, de las cuales más de 100 contaban con el nuevo modelo de farmacia.</p>
                                </div>
                                <div class="col-sm-3">
                                    <h4>2009</h4>
                                    <div style="height: 150px; vertical-align: middle">
                                        <img src="~/assets/pages/img/CEL.jpg" class="img-responsive">
                                    </div>
                                    <h5>CEL </h5>
                                    <p>Se inauguró el Centro de Eficiencia Logística con tecnología Knapp, nunca antes instalada a ese nivel en Latinoamérica.</p>
                                </div>
                                <div class="col-sm-3">
                                    <h4>2010</h4>
                                    <div style="height: 150px; vertical-align: middle">
                                        <img src="~/assets/pages/img/CasaSabayFasa.jpg" class="img-responsive ">
                                    </div>
                                    <h5>Grupo Casa Saba adquiere y se fusiona con FASA </h5>
                                    <p>Grupo Casa Saba, líder en la distribución de productos farmacéuticos, de salud, belleza, consumo, mercaderías generales y publicaciones en México, adquirió y se fusionó con FASA dando como resultado la cadena farmacéutica más importante del país.</p>
                                </div>
                                <div class="col-sm-3">
                                    <h4>2012</h4>
                                    <div style="height: 150px; vertical-align: middle">
                                        <img src="~/assets/pages/img/farmaciasAhumada.jpg" class="img-responsive ">
                                    </div>
                                    <h5>Farmacias Ahumada  </h5>
                                    <p>Tenemos presencia en México con más de 930 sucursales distribuidas en 17 estados y 119 ciudades a lo largo de la República Mexicana (Farmacias Benavides y Farmacias ABC), sirviendo anualmente a un promedio de 123 millones de clientes. En Chile contamos con más de 350 farmacias operando en 84 ciudades, atendiendo a un total de 51.3 millones de clientes promedio al año (Farmacias Ahumada). </p>
                                </div>
                            </div>
                            <!--/row-->
                        </div>
                        <!--/item-->

                        <div class="item">
                            <div class="row">
                                <div class="col-sm-3">
                                    <h4>2014</h4>
                                    <div style="height: 150px; vertical-align: middle">
                                        <img src="~/assets/pages/img/AllianceBoots.png" class="img-responsive ">
                                    </div>
                                    <h5>Alliance Boots </h5>
                                    <p>Líder internacional en la industria farmacéutica, con un gran enfoque en salud y belleza, adquiere Farmacias Ahumada (FASA) en America Latina.</p>
                                </div>
                                <div class="col-sm-3">
                                    <h4>2015</h4>
                                    <div style="height: 150px; vertical-align: middle">
                                        <img src="~/assets/pages/img/WBA.png" class="img-responsive ">
                                    </div>
                                    <h5>Walgreens Boots Alliance </h5>
                                    <p>Farmacias Benavides es miembro de Walgreens Alliance Boots. </p>
                                </div>
                                
                            </div>
                            <!--/row-->
                        </div>
                        <!--/item-->

                        
                    </div>

                    <a class="left carousel-control" href="#myCarousel" data-slide="prev"><img src="~/assets/pages/img/fizq.png" class="img-responsive center-block"></a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next"><img src="~/assets/pages/img/fder.png" class="img-responsive center-block"></a>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts {

<script type="text/javascript">

    var flipBook;

    $(document).ready(function () {
        Initialize();
    });

    // Where all the fun happens
    function Initialize() {
        var pdf = '/assets/pages/pdf/catalogo.pdf';

        if (pdf != null && pdf != "") {
            var options = {
                hard: 'none',
                webgl: true,
                height: 1000,
                duration: 800,

                //CONTROLS POSITION
                //default is "altPrev,pageNumber,altNext,outline,thumbnail,zoomIn,zoomOut,fullScreen,more"
                //this example remove outline and thumbnail; add download button in main bar
                mainControls: "altPrev,pageNumber,altNext,zoomIn,zoomOut,fullScreen,download,more",

                hideControls: "startPage,endPage"

            };

            flipBook = $("#flipbookContainer").flipBook(pdf, options);
            console.log(flipBook);
            //NOTE:
            //Valid Control Names:
            //altPrev,pageNumber,altNext,outline,thumbnail,zoomIn,zoomOut,fullScreen,more
            //pageMode,startPage,endPage,download

            //We dont recommend putting pageNumber in moreControls, that doesn't make sense.
        }
    }
</script>
<script>
    // Instantiate the Bootstrap carousel
    //$('.carousel[data-type="multi"] .item').each(function () {
        
    //    var next = $(this).next();
    //    if (!next.length) {
    //        next = $(this).siblings(':first');
    //    }
    //    next.children(':first-child').clone().appendTo($(this));

    //    for (var i = 0; i < 2; i++) {
    //        next = next.next();
    //        if (!next.length) {
    //            next = $(this).siblings(':first');
    //        }

    //        next.children(':first-child').clone().appendTo($(this));
    //    }
    //});
    

</script>
}
