@{
    Layout = null;
}
<style>
    .modal-header {
        border: none;
    }

    .modal-content {
        background-color: #45b9e6;
        color: #fff;
    }

    .modal-body {
        text-align: justify;
        padding: 0 100px;
        padding-bottom: 80px;
    }

        .modal-body p {
            margin: 0;

            text-align: justify;
        }

    h1 {
        color: #254683;
        text-align: center;
    }

    a {
        color: #ffffff;
        font-weight: bold;
    }

    .close{opacity: 1}


    
</style>

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">
        <img src="~/assets/pages/img/closeModal.png" /></button>
    <h1>¿Local Disponible?</h1>
</div>
<div class="modal-body">
    
        <p>
            Si tienes un local comercial en Renta o Venta que pueda ser de nuestro interés, los requerimientos son los siguientes:
            <ul>
                <li>Superficie del local de 150 a 200 m2 con un frente mínimo de 10m</li>
                <li>Debe tener de 6 a 10 cajones de estacionamiento</li>
                <li>Ubicados en esquinas importabtes con alto tráfico vehicular y peatonal</li>
                <li>En caso de terrenos la superficie debe ser de 400 a 600 m2</li>
            </ul>
        </p>
        <p>
            Si cumples con estos requisitos, por favor enviar un correo electrónico a <a href="mailto:inmobiliaria@benavides.com.mx">inmobiliaria@benavides.com.mx</a> incluyendo la siguiente información:
            <ul>
                <li>Domicilio completo (calle, número, entre calles, colonia, municipio, estado, código postal)</li>
                <li>Ubicación en Google Earth o Google Maps</li>
                <li>Plano con medidas que puede ser dibujado a mano</li>
                <li>Fotografías de la Propiedad y del entorno</li>
                <li>Datos de Contacto</li>
            </ul>
            

        </p>
        <p>Estarás recibiendo una respuesta a vueta de correo en 5 días hábiles.</p>
        <h1>¿Te interesa rentar alguno de nuestros espacios excedentes?</h1>
        <p>
            En Farmacias Benavides contamos con Locales y Terrenos disponibles en Sub-Arrendamiento, si tienes algún punto de interés, verifica el nombre de la sucursal donde lo observaste y comunícate con nosotros al <span style="font-weight: bold">01-800-837-7360</span> en horario de oficina Lunes a Jueves de 8:00 a 13:00 y 14:00 a 18:30 y Viernes de 8:00 a 15:00 hrs.
        </p>

 
    

</div>