@{
    Layout = "~/Views/Shared/_LayoutError.cshtml";
    ViewBag.Title = "Error";
}
<div class="col-md-12 page-500">
    <div class="number font-red"> 404 </div>
    <div class="details">
        <h3>Página no encontrada</h3>
        <p>
            La página que usted busca no se encuentra.
            <br />
        </p>
        @*<p>
            <a href="~/Home" class="btn red btn-outline"> Volver a Inicio </a>
            <br>
        </p>*@
    </div>
</div>