@{
    ViewBag.Title = "Confirmación de contraseña";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutLogin.cshtml";
}

@*<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Please check your email to reset your password.
    </p>
</div>*@

<h3>Confirmación de contraseña</h3>
<p> Revise su correo electrónico para reiniciar su contraseña </p>
<div class="form-actions">
    <a id="back-btn" class="btn red btn-outline" href="~/Admin/Account/Login">Atrás </a>
</div>
	
