@model BenFarms.MVC.Areas.Admin.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutLogin.cshtml";
}

<form class="forget-form" action="~/Admin/Account/ForgotPassword" method="post" id="forget-form">
    @Html.AntiForgeryToken()
    <h3>¿Olvidaste tu contraseña?</h3>
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <p> Entra tu dirección de correo electrónico para reiniciar tu contraseña. </p>
    <div class="form-group">
        <div class="input-icon">
            <i class="fa fa-envelope"></i>
            <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Email" name="email" id="email" />
        </div>
    </div>
    <div class="form-actions">
        <a id="back-btn" class="btn red btn-outline" href="~/Admin/Account/Login">Atrás </a>
        <button class="btn green pull-right" type="submit"> Enviar </button>
    </div>
    <div class="row">
        <center>
            <span id="mensajeForgetPass" class="color-red"></span>
        </center>
    </div>
</form>
